# Ignore the SQLite database file
db.sqlite3

# Ignore the Json database file
mysite_data.json

# Ignore __pycache__ directories inside the /blog folder
/Bookmarks/__pycache__/

# Ignore __pycache__ directories inside the /mysite folder
/mysite/__pycache__/

# Ignore migrations directories
./account/migrations/

# Ignore virtual environment files (if you use one)
venv/
.env/

# Ignore sensitive configuration files
*.env
*.key
*.secret
/Bookmarks/Bookmarks/social_keys.py

# Ignore IDE/Editor files
.idea/
.vscode/
*.swp
*.swo

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore pip cache files
pip-wheel-metadata/

# Ignore personal documents
comandos.txt